@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary: #224193;
  --secondary: #df3c5f;
  --tertiary: #6f9bd1;
}

body {
  font-family: "Poppins";
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--tertiary);
  opacity: 0.9;
  margin: 2%;
}

.hike-details {
  width: 50%;
  margin: 2%;
  text-align: center;
  color: var(--primary);
}
.home-image {
  max-width: 50%;
}

.error {
  border: 1px solid red;
  color: red;
  background: white;
  display: inline;
}
